html,
body,
.container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: white;
}

.credit {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.control {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  right: 0;
  padding: 10px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

label {
  color: white;
  font-size: 11px;
}

.icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  color: white;
}

.refresh-icon {
  padding-left: 5px;
}