html,
body,
.container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: white;
}

.bottom-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 20px;
}

.credit {
  border-radius: 5px;
  float: left;
  height: 100%;
  padding: 10px;
}

.control {
  height: 100%;
  border-radius: 5px;
  float: right;
  padding: 10px;
}


label {
  color: white;
  font-size: 11px;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
}

.fa {
  color: white;
  vertical-align: middle;
  padding: 0 5px;
}

.fa:hover {
  color: #a1a1a1;
}
